.github/**
.vscode/**
.superpowers/**
.vscode-test*
.gitignore
src/**
node_modules/**
out/**
coverage/**
docs/**
dist/**/*.map
resources/marketplace-icons/**
*.vsix
*.code-workspace
*.config.*
esbuild.mjs
tsconfig*.json
